<div class="container">
  <div class="row">
    <div class="spinner-border text-dark mx-auto my-5" 
       role="status"
       style="width:5rem;height:5rem;"
       *ngIf="isLoading">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <ng-container *ngIf="!isLoading">
    <div class="row mx-auto">
      <div class="col-sm-12 text-center">
          <h2 class="text-secondary"> Hello. Today is </h2>
          <h1> {{ getToday() }} </h1>
          <button class="btn btn-outline btn-outline-warning btn-lg mx-auto p-3 m-5"
                  [ngClass]="{'btn-outline-warning' : !isOutToday[0] , 'btn-outline-dark' : isOutToday[0] }"
                  [disabled]="isOutToday[0]"
                  (click)="triggerOut( 0 )">
                      Out for Today
          </button>
      </div>
  </div>
  <hr>
  <div class="row" *ngIf="!isShowingUpcoming">
      <div class="mx-auto">
        <button class="btn btn-outline-secondary btn-lg"
                style="border-radius:100%;height: 3em;width:3em;"
                (click)="isShowingUpcoming = true">
                <fa-icon [icon]="faChevron"></fa-icon>
        </button>
      </div>
  </div>
  <div class="row mx-auto" *ngIf="isShowingUpcoming">
      <div class="col-sm-12">
          <h2 class="text-center">Upcoming Days</h2>      
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr [ngClass]="{ 'table-warning' : i === 0 }" *ngFor="let day of daySchedules; index as i">
                  <td>{{day}}</td>
                  <td>
                      <button class="btn btn-outline" 
                              [ngClass]="{'btn-outline-warning' : !isOutToday[i] , 'btn-outline-dark' : isOutToday[i] }"
                              [disabled]="isOutToday[ i ]"
                              (click)="triggerOut( i )">
                          Out
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  </ng-container>
</div>

<app-mod-modal [visibilityEventEmitter]="toggleConfirmEventEmitter">
  <ng-template appModalHeader>
    <h4>Confirm Out?</h4>
  </ng-template>
  <ng-template appModalBody>
    Are you sure you are out for today?
  </ng-template>
  <ng-template appModalFooter let-closeModal>
    <button class="btn btn-success mx-1" (click)="setToOut( deleteIndex );closeModal()">Confirm Out</button>
    <button class="btn btn-danger mx-1" (click)="closeModal()">Cancel</button>
  </ng-template>
</app-mod-modal>

<app-mod-modal [visibilityEventEmitter]="toggleLoadingEventEmitter">
  <ng-template appModalHeader>
    <h4>Please Wait</h4>
  </ng-template>
  <ng-template appModalBody>
    <p><b>Waiting for the process to complete.</b></p>
    <p>Do not close this window or disconnect from the internet while this is open.</p>
    <p>This window will automatically close when done.</p>

  </ng-template>
  <ng-template appModalFooter>
    <div class="spinner-grow spinner-grow-sm mx-1 text-light"></div><div class="spinner-grow spinner-grow-sm mx-1 text-warning"></div><div class="spinner-grow spinner-grow-sm mx-1 text-dark"></div>
  </ng-template>
</app-mod-modal>