<!-- The Modal -->
  <div class="modal" [ngClass]="{ 'show' : showModal }">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <ng-container *ngTemplateOutlet="modalHeaderTpl || defaultHeaderTpl; context : modalHeaderContext"></ng-container>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <ng-container *ngTemplateOutlet="modalBodyTpl || defaultBodyTpl"></ng-container>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <ng-container *ngTemplateOutlet="modalFooterTpl || defaultFooterTpl; context : modalFooterContext"></ng-container>
        </div>   
  
      </div>
    </div>
  </div>

  <ng-template #defaultHeaderTpl>
      <h4>Modal Header!!</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
  </ng-template>

  <ng-template #defaultBodyTpl>
    <p>Modal body...</p>
</ng-template>

<ng-template #defaultFooterTpl>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
</ng-template>