<body>
  <div class="container">
      <nav class="nav nav-tabs nav-stacked my-3">
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/unavailable" routerLinkActive="active">Unavailable</a>
          </li>
          <li class="nav-item">
            <!-- TODO: write disabled script for schedule link -->
            <a class="nav-link" routerLink="/schedule" routerLinkActive="active">Schedule</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/debug" routerLinkActive="active">Debug</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reschedule" routerLinkActive="active">Reschedule</a>
          </li>
        </ul>
      </nav>
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- <app-week-schedule></app-week-schedule> -->
    <!-- <app-dashboard></app-dashboard> -->
    <!-- <app-unavaiable-page></app-unavaiable-page> -->
  </div>
</body>