<div class="container">
    <div class="row my-5">
        <h1>Appointment Dashboard</h1>
    </div>
    <hr>
    <div class="row">
      <div class="spinner-border text-dark mx-auto my-5" 
           role="status"
           style="width:5rem;height:5rem;"
           *ngIf="!isDoneLoading">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ng-container *ngIf="isEmpty && isDoneLoading">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4 class="text-secondary p-5">Appointments will appear here. Currently there are none.</h4>
          <p class="text-muted">You can refresh</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isDoneLoading && !isEmpty">
      <div class="mx-auto">
        <div class="row">
          <div class="col-md-7">
              <h2 [innerHTML]="distinctDates[currentDateIndex].format('MMMM Do YYYY, dddd')"></h2>
          </div>
          <div class="col-md-5">
            <div class="float-right">
              <button class="btn btn-outline-secondary btn-sm mx-3"
                      style="border-radius:100%;height: 3em;width:3em;"
                      [disabled]="leftDisabled"
                      (click)="previousDate()">
                      <fa-icon [icon]="faChevronLeft"></fa-icon>
              </button>
              <button class="btn btn-outline-secondary btn-sm mx-3"
                      style="border-radius:100%;height: 3em;width:3em;"
                      [disabled]="rightDisabled"
                      (click)="nextDate()">
                      <fa-icon [icon]="faChevronRight"></fa-icon>
              </button>
              <!-- (click)="testAdd()" -->
            </div>
          </div>
      </div>  
          <ng-container *ngFor="let distinctTime of distinctTimesForClientsOfDay; index as i">
          <hr class="border border-dark">
          <div class="row">
              <div class="col col-md-6">
                  <h2 class="text-primary">{{ distinctTime[0].time }}</h2>
              </div>
              <div class="col col-md-6">
                <button class="btn btn-outline btn-outline-warning btn-sm"
                        style="float: right;">
                        <fa-icon [icon]="faBan"
                        (click)="showConfirmTimeBlockCancelModal( distinctTime )"></fa-icon>
                </button>
              </div>
          </div>
          <div class="row my-2">
              <div class="col-md-12">
                  <table class="table table-striped">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="w-10">No.</th>
                          <th scope="col" class="w-40">Name</th>
                          <th scope="col"class="w-25">Reason</th>
                          <th scope="col"class="w-25">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let client of distinctTime; index as j">
                          <td>{{j+1}}</td>
                          <td>{{client.name}}</td>
                          <td>{{client.reason}}</td>
                          <td class="buttons">
                            <button class="btn btn-outline btn-outline-success btn-sm"
                                    style="margin-right: 2em"
                                    (click)="showConfirmDoneApptModal(client)">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                            </button> 
                            <button class="btn btn-outline btn-outline-warning btn-sm"
                                    (click)="showConfirmIndivCancelModal( client )">
                              <fa-icon [icon]="faBan"></fa-icon>
                            </button> 
                            <button class="btn btn-outline btn-outline-secondary btn-sm"
                                    (click)="showContactInfoModal(client)">
                                    <fa-icon [icon]="faPhoneBook"></fa-icon>
                            </button> 
                            <button class="btn btn-outline btn-outline-primary btn-sm"
                                    disabled="true"><fa-icon [icon]="faIdCard"></fa-icon></button> 
                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
          </ng-container>
      </div>
    </ng-container>
    <div class="row" *ngIf="isDoneLoading">
      <div class="mx-auto">
        <button class="btn btn-outline-secondary btn-lg"
                style="border-radius:100%;height: 3em;width:3em;"
                (click)="refresh()">
                <fa-icon [icon]="faSync"></fa-icon>
        </button>
      </div>
    </div>
</div>

<app-mod-modal [visibilityEventEmitter]="toggleConfirmDoneApptModal">
  <ng-template appModalHeader>
    <h4>Confirm Complete?</h4>
  </ng-template>
  <ng-template appModalBody>
    <p>Are you sure your appointment is done?</p>
  </ng-template>
  <ng-template appModalFooter let-closeModal>
    <button class="btn btn-success mx-1" (click)="removeClient([currentClientToRemove]);closeModal()">Confirm</button>
    <button class="btn btn-danger mx-1" (click)="closeModal()">Cancel</button>
  </ng-template>
</app-mod-modal>

<app-mod-modal [visibilityEventEmitter]="toggleShowInfoModal">
  <ng-template appModalHeader>
    <h4>Contact Info</h4>
  </ng-template>
  <ng-template appModalBody>
    <b>Contact Number: </b> {{this.currentClientToCheckInfo.contactNumber}}
  </ng-template>
  <ng-template appModalFooter let-closeModal>
    <button class="btn btn-danger mx-1" (click)="closeModal()">Cancel</button>
  </ng-template>
</app-mod-modal>

<app-mod-modal [visibilityEventEmitter]="toggleShowCancelTimeBlockModal">
  <ng-template appModalHeader>
    <h4>Confirm Cancellation</h4>
  </ng-template>
  <ng-template appModalBody>
    <p>Are you sure you want to cancel for the <strong>entire</strong> time block?</p> 
    <p>All of these appointments will be moved to the reschedule manager. This action <strong class="text-danger">cannot be undone</strong>.</p>
    <p class="mt-3"><strong>Close the Slot:</strong></p>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="openSlotCheckBox" [(ngModel)]="currentOpenSlotInstr">
      <label class="custom-control-label" for="openSlotCheckBox">Check this to make the previously occupied slots unavailable.</label>
    </div>
  </ng-template>
  <ng-template appModalFooter let-closeModal>
    <button class="btn btn-success mx-1" (click)="onConfirmRescheduleForTime(currentTimeBlockToRemove); closeModal()">Confirm</button>
    <button class="btn btn-danger mx-1" (click)="closeModal()">Cancel</button>
  </ng-template>
</app-mod-modal>

<app-mod-modal [visibilityEventEmitter]="toggleShowCancelIndivModal">
  <ng-template appModalHeader>
    <h4>Confirm Cancellation</h4>
  </ng-template>
  <ng-template appModalBody>
    <p>Are you sure you want to cancel this person's appointment?</p>
    <p>He/she will be moved into the Reschedule Manager.</p>
    <p class="mt-3"><strong>Close the Slot:</strong></p>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="openSlotCheckBox" [(ngModel)]="currentOpenSlotInstr">
      <label class="custom-control-label" for="openSlotCheckBox">Check this to make the previously occupied slots unavailable.</label>
    </div>
  </ng-template>
  <ng-template appModalFooter let-closeModal>
    <button class="btn btn-success mx-1" (click)="onConfirmRescheduleIndivClient(this.currentClientToRemove); closeModal()">Confirm</button>
    <button class="btn btn-danger mx-1" (click)="closeModal()">Cancel</button>
  </ng-template>
</app-mod-modal>

<app-mod-modal [visibilityEventEmitter]="toggleLoadingModal">
  <ng-template appModalHeader>
      <h4>Please Wait</h4>
  </ng-template>
  <ng-template appModalBody>
      <p><b>Waiting for the process to complete.</b></p>
      <p>Do not close this window or disconnect from the internet while this is open.</p>
      <p>This window will automatically close when done.</p>
  </ng-template>
  <ng-template appModalFooter>
      <div class="spinner-grow spinner-grow-sm mx-1 text-light"></div><div class="spinner-grow spinner-grow-sm mx-1 text-warning"></div><div class="spinner-grow spinner-grow-sm mx-1 text-dark"></div>
  </ng-template>
</app-mod-modal>