<div class="container">
    <div class="row my-5">
        <h1>Appointment Dashboard</h1>
    </div>
    <hr>
    <div class="row">
      <div class="spinner-border text-dark mx-auto my-5" 
           role="status"
           style="width:5rem;height:5rem;"
           *ngIf="!isDoneLoading">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ng-container *ngIf="isDoneLoading">
      <div class="mx-auto">
        <div class="row">
          <div class="col-md-7">
              <h2 [innerHTML]="distinctDates[currentDateIndex].format('MMMM Do YYYY, dddd')"></h2>
          </div>
          <div class="col-md-5">
            <div class="float-right">
              <button class="btn btn-outline-secondary btn-sm mx-3"
                      style="border-radius:100%;height: 3em;width:3em;"
                      [disabled]="leftDisabled"
                      (click)="previousDate()">
                      <fa-icon [icon]="faChevronLeft"></fa-icon>
              </button>
              <button class="btn btn-outline-secondary btn-sm mx-3"
                      style="border-radius:100%;height: 3em;width:3em;"
                      [disabled]="rightDisabled"
                      (click)="nextDate()">
                      <fa-icon [icon]="faChevronRight"></fa-icon>
              </button>
              <!-- (click)="testAdd()" -->
            </div>
          </div>
      </div>  
          <ng-container *ngFor="let distinctTime of distinctTimesForClientsOfDay; index as i">
          <hr class="border border-dark">
          <div class="row">
              <div class="col col-md-6">
                  <h2 class="text-primary">{{ distinctTime[0].time }}</h2>
              </div>
              <div class="col col-md-6">
                <button class="btn btn-outline btn-outline-warning btn-sm"
                        style="float: right;"
                        disabled="true">
                        <fa-icon [icon]="faBan"></fa-icon>
                </button>
              </div>
          </div>
          <div class="row my-2">
              <div class="col-md-12">
                  <table class="table table-striped">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="w-10">No.</th>
                          <th scope="col" class="w-40">Name</th>
                          <th scope="col"class="w-25">Reason</th>
                          <th scope="col"class="w-25">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let client of distinctTime; index as j">
                          <td>{{j+1}}</td>
                          <td>{{client.name}}</td>
                          <td>{{client.reason}}</td>
                          <td class="buttons">
                            <button class="btn btn-outline btn-outline-success btn-sm"
                                    style="margin-right: 2em"
                                    (click)="triggerAppCompVerification(client)">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                            </button> 
                            <button class="btn btn-outline btn-outline-warning btn-sm"
                                    disabled="true"><fa-icon [icon]="faBan"></fa-icon></button> 
                            <button class="btn btn-outline btn-outline-secondary btn-sm"
                                    (click)="triggerContactInfoMessage(client)">
                                    <fa-icon [icon]="faEnvelope"></fa-icon>
                            </button> 
                            <button class="btn btn-outline btn-outline-primary btn-sm"
                                    disabled="true"><fa-icon [icon]="faIdCard"></fa-icon></button> 
                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
          </ng-container>
      </div>
    </ng-container>
    <!-- TODO: add more items section here -->
    <div class="row" *ngIf="isDoneLoading">
      <div class="mx-auto">
        <button class="btn btn-outline-secondary btn-lg"
                style="border-radius:100%;height: 3em;width:3em;"
                (click)="refresh()">
                <fa-icon [icon]="faSync"></fa-icon>
        </button>
        <!-- (click)="testAdd()" -->
      </div>
    </div>
</div>

<app-mod-modal [visibilityEventEmitter]="toggleConfirmEventEmitter">
  <ng-template appModalHeader>
    <h4>Confirm Complete?</h4>
  </ng-template>
  <ng-template appModalBody>
    <p>Are you sure your appointment is done?</p>
  </ng-template>
  <ng-template appModalFooter let-closeModal>
    <button class="btn btn-success mx-1" (click)="removeClient(currentClientToRemove);closeModal()">Confirm</button>
    <button class="btn btn-danger mx-1" (click)="closeModal()">Cancel</button>
  </ng-template>
</app-mod-modal>

<app-mod-modal [visibilityEventEmitter]="toggleShowInfoEventEmitter">
  <ng-template appModalHeader>
    <h4>Contact Info</h4>
  </ng-template>
  <ng-template appModalBody>
    <b>Contact Number: </b> {{this.currentClientToCheckInfo.contactNumber}}
  </ng-template>
  <ng-template appModalFooter let-closeModal>
    <button class="btn btn-danger mx-1" (click)="closeModal()">Cancel</button>
  </ng-template>
</app-mod-modal>