<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto border border-dark p-5">
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="assets\img\cross.png" alt="logo.png" style="margin-right: 0.5em;"><a class="navbar-brand" href="">Hospitalier Hospital</a>
        </nav>

        <h1 style="margin-bottom: 1em;">Weekly Scheduling Sheet</h1>

        <form [formGroup]="personalInfo">
            <small class="form-text text-danger"
                       *ngIf="personalInfo.invalid">
                    Complete this section.
            </small>
            <div class="form-group">
                <div class="row">
                <div class="col-md-5">
                    <input type="text"
                        name="lastName"
                        formControlName="lastName"
                        id="lastName"
                        class="form-control rounded-0">
                    <small id="lastNameHelpId" class="text-muted">Last Name</small>
                </div>
                <div class="col-md-5">
                    <input type="text"
                        name="firstName"
                        formControlName="firstName"
                        id="firstName"
                        class="form-control rounded-0">
                    <small id="firstNameHelpId" class="text-muted">First Name</small>
                </div>
                <div class="col-md-2">
                    <input type="text"
                        name="MI"
                        formControlName="MI"
                        id="MI"
                        class="form-control rounded-0">
                    <small id="MIHelpId" class="text-muted">M.I.</small>
                </div>
                </div>
                <div class="row py-5">
                <div class="col-md-5">
                    <input type="text"
                        name="specialty"
                        formControlName="specialty"
                        id="specialty"
                        class="form-control rounded-0">
                    <small id="specialtyHelpId" class="text-muted">Specialty</small>
                </div>
                </div>
            </div>
        </form>

        <form *ngFor="let dayForm of dayForms; let day = index" [formGroup]="dayForm">
            <hr>
            <div class="row">
                <h4 class="my-auto">{{daysOfWeek[day]}}</h4>
                <button class="btn mx-2 my-auto btn-sm"
                        (click)="toggleAway(day)"
                        [ngClass]="{'btn-outline-warning' : !this.dayFormDisabled[day] , 'btn-outline-secondary' : this.dayFormDisabled[day] }">
                    <span *ngIf="!this.dayFormDisabled[day]">In</span>
                    <span *ngIf="this.dayFormDisabled[day]">Out</span>
                </button>
            </div>
            <div class="row">
                <small class="form-text text-danger"
                       *ngIf="dayForm.invalid && !this.dayFormDisabled[day]">
                    You left some fields blank.
                </small>
            </div>
            <ng-container *ngIf="!this.dayFormDisabled[day]">
                <ng-container *ngFor="let dayFormGroup of dayForm.controls; let i = index">
                    <form [formGroup]="dayFormGroup" class="form-group">
                        <br>
                        <div class="row py-2">
                        <div class="col-xs-4 px-4">
                            <label for="timein">Time In:</label>
                            <input type="time"
                            class="form-control rounded-0"
                            formControlName="timein"> 
                        </div>
                        <div class="col-xs-4">
                            <label for="timeout">Time Out:</label>
                            <input type="time"
                            class="form-control rounded-0"
                            formControlName="timeout"> 
                        </div>
                        <div class="col-xs-4 px-4">
                            <label for="appCount">Est. No of Appointments:</label>
                            <input type="number"
                            class="form-control rounded-0" 
                            formControlName="appCount">
                        </div>
                        <div class="col-xs-2 px-1 my-auto">
                            <button class="btn btn-outline-danger"
                                    [disabled]="i === 0"
                                    (click)="removeBlock(dayForm, i)">&times;</button>
                        </div>
                    </div>
                    </form>
                </ng-container>
            </ng-container>
            <button class="btn btn-outline-primary my-4"
                    (click)="addGroup(dayForm , daysOfWeek[day])"
                    *ngIf="!this.dayFormDisabled[day]">Add Schedule Block</button>
             <!-- replace 0 with index once abstracted -->
             <hr>
        </form>
        <div class="row">
            <div class="col-xs-12 mx-auto">
            <button class="btn btn-success btn-lg"
                    type="button"
                    (click)="onSubmit()"
                    [disabled]="isLoading">
                    Submit
                </button>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- The Review Modal -->
<app-mod-modal [visibilityEventEmitter]="toggleReviewModal">
    <ng-template appModalHeader>
        <h4>Review Input</h4>
    </ng-template>
    <ng-template appModalBody>
        Are you sure you want to submit your schedule for the week? This action cannot be undone;
    </ng-template>
    <ng-template appModalFooter let-closeModal>
        <button type="button" class="btn btn-success mx-1" data-dismiss="modal" (click)="onConfirmedSubmit(); closeModal()">Confirm</button>
        <button type="button" class="btn btn-danger mx-1" data-dismiss="modal" (click)="closeModal()">Close</button>
    </ng-template>
</app-mod-modal>

<app-mod-modal [visibilityEventEmitter]="toggleInputErrorModal">
    <ng-template appModalHeader>
        <h4>Invalid Input</h4>
    </ng-template>
    <ng-template appModalBody>
        Please check that all field have valid inputs.
    </ng-template>
</app-mod-modal>

<app-mod-modal [visibilityEventEmitter]="toggleLoadingModal">
    <ng-template appModalHeader>
      <h4>Please Wait</h4>
    </ng-template>
    <ng-template appModalBody>
      <p><b>Waiting for the process to complete.</b></p>
      <p>Do not close this window or disconnect from the internet while this is open.</p>
      <p>This window will automatically close when done.</p>
  
    </ng-template>
    <ng-template appModalFooter>
      <div class="spinner-grow spinner-grow-sm mx-1 text-light"></div><div class="spinner-grow spinner-grow-sm mx-1 text-warning"></div><div class="spinner-grow spinner-grow-sm mx-1 text-dark"></div>
    </ng-template>
  </app-mod-modal>

  <app-mod-modal [visibilityEventEmitter]="toggleSuccessModal">
      <ng-template appModalHeader>
          <h4>You're all Set up!</h4>
      </ng-template>
      <ng-template appModalBody>
          <p>Thanks for registering for the week. Press the button below to be taken back to home</p>
      </ng-template>
      <ng-template appModalFooter>
          <button class="btn btn-primary" routerLink="/">Home</button>
      </ng-template>
  </app-mod-modal>