<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="../../assets/img/hero.png"
                 alt="doctor-logo"
                 style="max-width: 200px;"
                 class="img-responsive m-4">
            <h1 class="text-center">Yes we <span class="text-warning">CAN!</span></h1>
            <h2 class="text-center text-secondary">Clinic Appointment Manager</h2>
        </div>
    </div>
    <nav class="nav justify-content-center my-2">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      <a class="nav-link" routerLink="/unavailable">Unavailable</a>
      <a class="nav-link" routerLink="/schedule">Write Schedule</a>
    </nav>
</div>